.header {
    .navbar {
        .nav-item {
            .nav-link {
                color: #256bb4;
                font-size: 1.1rem;
                font-family: 'segoe-ui-bold';
            }
        }
    }
}