.estimate-btn {
    width: 270px;
    height: 55px;
    color: #fff;
    background: #256bb4;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    box-shadow: 0 3px 6px rgb(0 0 0 / 29%);
    text-decoration: none;
    transition: all .3s linear;
    font-family: 'segoe-ui-regular';
    font-size: 1.5rem;

    &:hover {
        background: #3684d6;
        color: #fff;
    }
}